<!-- Profile card on top  -->
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left mr-3">
                <div class="widget-content-left">
                  <img width="42" class="rounded" src="./assets/images/avatars/9.jpg" alt="">
                </div>
              </div>
              <div class="widget-content-left flex2">
                <div class="widget-heading">Oluwafemi Damilola</div>
                <div class="widget-subheading opacity-10">
                    <span class="pr-2">
                        <b>2</b> Accounts</span>
                  <span>
                        <b class="text-success">N7645,000,624</b> Total Balance 
                    </span>
                </div>
              </div>
              <div class="widget-content-right text-right mr-3">
                <div><b>52,5%</b></div>
                YoY Growth
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div class="widget-heading">Customer ID: C0056834</div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>

</div>

<!-- personal stat cards for individual customer  -->
<div class="row">
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Total Orders</div>
            <div class="widget-subheading">Last year expenses</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-success">1896</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-xs progress">
            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">YoY Growth</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Clients</div>
            <div class="widget-subheading">Total Clients Profit</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-primary">$12.6k</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-lg progress-bar-animated progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">Retention</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Products Sold</div>
            <div class="widget-subheading">Total revenue streams</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-warning">$3M</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-xs progress-bar-animated-alt progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">Sales</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- logs and issues for customer  -->
<div class="row">
  <div class="col-lg-6 col-xl-3">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Logs</div>
            <div class="widget-subheading">Issues opened</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-info">4</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Logs</div>
            <div class="widget-subheading">Unresolved</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-danger">1</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Logs</div>
            <div class="widget-subheading">Ongoing</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-warning">1</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Logs</div>
            <div class="widget-subheading">Closed</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-success">2</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Details and summary of account  -->
<div class="row">
  <div class="col-lg-4">
    <div class="main-card mb-3 card">
      <div class="card-header">Account Details</div>
        <div class="card-body">
          <ngb-tabset>
            <ngb-tab title="Simple">  
              <ng-template ngbTabContent>
                <div class="main-card mb-3 card">
                  <ul class="list-group list-group-flush">
            
                    <li class="list-group-item">
                      <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left flex2">
                            <div class="widget-heading">Account Name: </div>

                          </div>
                          <div class="widget-content-right text-right mr-3">
                            <div><b>Oluwafemi Damilola</b></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="New">  
            </ngb-tab>
          </ngb-tabset>     
        </div>

    </div>

  </div>

</div>